{% extends 'base.html'  %}

{% block title %} | 404 {% endblock %}

{% block content %}
            <div class="collapse navbar-collapse 404_bar" id="navbarResponsive">

            </div>
        </div>
  <section id="showcase-inner" class="py-5 text-white" style="position: relative;
    bottom: -37px;">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4" style="color:white">Do you like dark ? <i class="fas fa-ghost"></i></h1>
          <p class="lead"><b style="color:#ff6b01">GB</b> Commands Dashboard</p>
        </div>
      </div>
    </div>
  </section>

  <section id="dashboard" class="py-4">
    <div class="container">
       <h1>404</h1>
      <div class="row">
        <div class="col-md-12">
            <p>page not found</p>
           <i class="fas fa-6x fa-robot text-primary mb-4"></i>
        </div>
      </div>
    </div>

  </section>
 {% endblock  %}
