{% extends 'base.html'  %}

{% block title %} | Contributors {% endblock %}

{% block content %}
  <section id="showcase-inner" class="py-5 text-white" style="position: relative;
    bottom: -37px;">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4" style="color:white">Do you like dark ? <i class="fas fa-ghost"></i></h1>
        </div>
      </div>
    </div>
  </section>

<div class="container mt-5">
    {% include 'partials/_alerts.html' %}
    <div class="row d-flex justify-content-center">
        <h1 class="display-3">List of Contributors</h1>
    </div>
    <div class="container">
      <div class="row">
          {% for profile  in profiles %}
            <div class="mx-auto" style="width: 200px;">
                <a href="{{profile.user.id}}" ><img src="/media/{{profile.avatar}}" width="150"  height="150" class="rounded-circle"></a>
                <h5 >{{profile}}</h5>
            </div>
          {% endfor %}
      </div>
    </div>

</div>
{% endblock  %}